/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#gmap {
    height: 100%;
}

#omap {
    height: 100%; 
}

#popup {
    z-index: 1;
    opacity: 0;
    position: absolute;
    margin: 0;
    background: rgba(0,60,136,0.7);
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    transition: opacity 100ms ease-in;
    padding: 1px 5px 1px 5px;
  }

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Input panel for search box */
#floating-input {
    position: absolute;
    top: 10px;
    left: 35%;
    z-index: 5;
    background-color: #fff;
    padding: 3px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    font-weight: 300;
    font-size: 15px;
    text-overflow: ellipsis;
    line-height: 30px;
    padding-left: 10px;
    width: 400px;
}

#floating-input:focus {
    border-color: #4d90fe;
}

/* Input panel for flight search box */
#flight-input {
    position: absolute;
    top: 94%;
    left: 1%;
    z-index: 5;
    background-color: #fff;
    padding: 3px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    font-weight: 300;
    font-size: 15px;
    text-overflow: ellipsis;
    line-height: 30px;
    padding-left: 10px;
    width: 400px;
}

#flight-input:focus {
    border-color: #4d90fe;
}

